{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3"><b>Введение в Flask</b></h1>
    
    <p>Данный фреймворк предназначен для разработки веб приложений, использующих язык программирования Python. 
       Сам же Flask использует набор инструментов Werkzeug и шаблонизатор Jinja2. Совместим же данный фреймворк с Python версии 2.7, 3.3 и выше.
    </p>

    <p>
      <b>
          Использование
      </b>
    </p>
    <p>Flask стоит использовать в следующих случаях:</p>
    <ul>
       <li>Если у веб приложения будет небольшой бэкенд;</li>
       <li>Если требуется больший контроль над используемыми компонентами;</li>
       <li>Если вы не знакомы с асинхронностью;</li>
       <li>Если вы хотите получить больше опыта и возможностей для обучения.</li>
    </ul>

    <p>
      <b>
         Модули для Flask
      </b>
    </p>
    <p>В самом фреймворке есть функции, которые вам могут пригодиться при обучении. Например:</p>
    <ul>
       <li>Flash – функция, использующаяся для вывода всплывающих сообщений. 
           Допустим пользователь вошел в систему и вы хотите вывести ему сообщение, что он авторизовался. Это будет выглядеть примерно так:
           <b>flash('Вы успешно авторизовались')</b>
       </li>
       <li>Urf_for – функция для создание URL. Данная функция принимает конечную точку и преобразует ее в URL в виде строки.
           Использование:
           <b>url_for('index')</b>
       </li>
       <li>Redirect – функция для перенаправления пользователя на другую страницу.
           Использование:
           <b>return redirect(url_for('*Страница*'))</b>
       </li>
       <li>Flask-Login - данный модуль предназначен для добавления в ваше приложение авторизации. 
           Чтобы установить этот модуль требуется выполнить команду:
           <b>pip install flask-login</b><br>
           Использовать можно так:
           <b>from flask_login import login_required, current_user</b>
       </li>
       <li>login_required – используется для проверки того, что пользователь авторизирован. 
           То есть при использовании этой функции, пользователь должен быть авторизован для доступа к какой-нибудь странице вашего приложения.
       </li>
       <li>Current_User – функция, с помощью которой приложение понимает какой пользователь сейчас использует приложение. 
           Это используется при разграничении доступа, например, к административной панели в вашем приложении.
       </li>
       <li>Flask_bcrypt - модуль для хэширования данных.
           Установка:
           <b>pip install flask-bcrypt</b><br>
           Использование:
           <b>from  flask.ext.bcrypt  import  Bcrypt<br>bcrypt = Bcrypt(app)<br>pw_hash = bcrypt.generate_password_hash('hunter2')</b>
       </li>
    </ul>

    <p>
      <b>
         Как начать работать, используя Flask
      </b>
    </p>
    <p>Для начала, требуется скачать Python совместимой с фреймворком версией.
       Затем нужно создать терминал, в котором нужно воспользовавшись командой: <b>pip install flask</b>
    </p>
    <p>Установить фреймворк.
       Затем нужно в этой же папке создать файл с расширением .py
       В нашей ситуации мы рассмотрим минимальное приложение на Flask.
       Пример кода есть в официальной документации. И будет он выглядеть так:
    </p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '1.png') }}">
    <p>Далее, чтобы запустить наше приложение, в ранее созданном терминале нужно прописать команду <b>python *Имя_файла*.py</b></p>
    <p>Данная команда запустит наш проект. При запуске вы увидите примерно следующее:</p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '2.png') }}">
    <p>На данном адресе будет запущено наше приложение. Так оно выглядит в первозданном виде:</p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '3.png') }}">

    <p>
      <b>
         Пример взаимодействия Flask и Jinja2
      </b>
    </p>
    <p>В нашем python файле находится следующий код:</p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '4.png') }}">
    <p>Так выглядит html файл с использованием шаблонизатора jinja2:</p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '5.png') }}">
    <p>Так будет выглядеть наша страница после запуска проекта:</p>
    <img src="{{ url_for('static', filename='images/doc10/' ~ '6.png') }}">

    <p>
      <b>
         Плюсы и минусы
      </b>
    </p>
    <p>Плюсы:</p>
    <ul>
       <li>Легкий для изучения. Flask имеет простую структуру и понятный синтаксис, также фреймворк позволяет программисту полностью контролировать процесс разработки;</li>
       <li>Гибкий. Это свойство говорит о том, что программисту доступна возможность редактирования инструментов фреймворка под свои нужды;</li>
       <li>Хорошие инструменты для тестирования. Flask имеет предустановленные инструменты для тестирования и отладки: unit тесты, встроенный отладчик и обработчик запросов.</li>
    </ul>
    <p>Минусы:</p>
    <ul>
       <li>Не поддерживает асинхронность. Flask обрабатывает все запросы в один поток. Это значит что каждый запрос будет блокировать поток до окончания выполнения, а затем будет выполнен следующий запрос;</li>
       <li>Недостаток возможностей. Flask не подходит для разработки больших веб приложений.</li>
    </ul>

{% endblock %}