{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3"><b>Введение в Django</b></h1>
    
    <p>Django – это фреймворк для веб-приложений, основанный на Python. 
       Django проектировался для работы под управлением Apache (с модулем mod_python) и с использованием PostgreSQL в качестве базы данных. 
       В настоящее время, помимо PostgreSQL, Django может работать с другими СУБД.
    </p>

    <p>
      <b>
         Использование
      </b>
    </p>
    <p>Django стоит использовать в следующих случаях:</p>
    <ul>
       <li>Если у веб-приложения будет большой бэкенд;</li>
       <li>Если требуется админ-панель;</li>
       <li>Если вы не хотите заморачиваться с безопасностью;</li>
       <li>Если вы хотите написать бэкенд максимально быстро.</li>
    </ul>

    <p>
      <b>
         Как начать работать, используя Django
      </b>
    </p>
    <p>Будучи веб-фреймворком Python, Django требует Python. Последнюю версию Python можно найти на <a href="https://www.python.org/download/">https://www.python.org/download/</a>.
       Далее требуется установить официальный релиз. Это самый лучший вариант для большинства пользователей.
       Чтобы проверить что Django доступен для Python, выполните python в терминале. Теперь в консоли Python выполните импорт Django:<br>
       <b>>>> import Django<br>
          >>> print(django.get_version())
       </b>
    </p>
    <p>При установке Django в папке виртуальной среды устанавливается скрипт django-admin.py. 
       А на Windows также исполняемый файл django-admin.exe. Их можно найти в папке виртуальной среды, в которую производилась установка 
       Django: на Windows - в подкаталоге Scripts, а на Linux/MacOS - в каталоге bin.
    </p>
    <img src="{{ url_for('static', filename='images/doc11/' ~ '1.png') }}">
    <p>Django-admin предоставляет ряд команд для управления проектом Django. В частности, для создания проекта применяется команда startproject. 
       Этой команде в качестве аргумента передается название проекта.
       Итак, вначале активируем ранее созданную виртуальную среду (например, среду hello, которая была создана в прошлой теме, если она ранее не была активирована) и затем выполним следующую команду:<br>
       <b>django-admin startproject hello</b>
    </p>
    <img src="{{ url_for('static', filename='images/doc11/' ~ '2.png') }}">
    <p>В данном случае мы создаем проект hello. Имя проекта необязательно должно совпадать с именем виртуальной среды.
       После выполнения этой команды в текущей папке будет создан подкаталог hello.
    </p>
    <img src="{{ url_for('static', filename='images/doc11/' ~ '3.png') }}">
    
    <p>Проект будет состоять из следующих элементов:</p>
    <ul>
       <li>manage.py: выполняет различные команды проекта, например, запускает приложение;</li>
       <li>hello;</li>
       <li>__init__.py: данный файл указывает, что папка, в которой он находится, будет рассматриваться как модуль. Это стандартный файл для Python.
           settings.py: содержит настройки конфигурации проекта;
       </li>
       <li>urls.py: содержит шаблоны URL-адресов, по сути определяет систему маршрутизации проекта;</li>
       <li>wsgi.py: содержит свойства конфигурации WSGI (Web Server Gateway Inerface). Он используется при развертывании проекта.</li>
    </ul>
    <p>Запустим проект на выполнение. Для этого с помощью команды cd перейдем в консоли к папке проекта. И затем для запуска проекта выполним следующую команду:<br><b>python manage.py runserver</b></p>
    <img src="{{ url_for('static', filename='images/doc11/' ~ '4.png') }}">
    <p>После запуска проекта в консоли мы увидим адрес, по которому запущен проект. Как правило, это адрес http://127.0.0.1:8000/. 
       Откроем любой веб-браузер и введем данный адрес в адресную строку браузера. И нам откроется содержимое по умолчанию.
    </p>
    <img src="{{ url_for('static', filename='images/doc11/' ~ '5.png') }}">

    <p>
      <b>
         Плюсы и минусы
      </b>
    </p>
    <p>Плюсы:</p>
    <ul>
       <li>Административная панель Django автоматически генерируется при создании приложения. Это избавляет разработчика от необходимости создавать админку вручную;</li>
       <li>ORM. В Django реализовано объектно-реляционное отображение (ORM), которое обеспечивает взаимодействие приложения с базами данных (БД). ORM автоматически передаёт данные из БД, например, PostgreeSQL или MySQL, в объекты, которые используются в коде приложения;</li>
       <li>Безопасность. Django безопасен из коробки и включает механизмы предотвращения распространенных атак вроде SQL-инъекций (XSS) и подделки межсайтовых запросов (CSRF).</li>
    </ul>
    <p>Минусы:</p>
    <ul>
       <li>Проприетарность стандартных модулей. Некоторые модули Django, например, ORM или формы, сложно заменить. Разработчикам приходится тратить много времени, чтобы изменить внутреннюю структуру фреймворка и использовать альтернативные инструменты;</li>
       <li>Избыточность в небольших проектах. Возможности Django могут быть избыточными для небольшого проекта. Однако в экосистеме Python есть другие фреймворки, которые можно использовать в таких случаях. Например, если вы хотите сделать простой чат, лучше использовать Flask.</li>
    </ul>

    <p>
      <b>
         Полезные ссылки и документация
      </b>
    </p>
    <ul>
      <li><a href="https://www.djangoproject.com">https://www.djangoproject.com/</a> - официальный сайт фреймворка;</li>
      <li><a href="https://djbook.ru/">https://djbook.ru/</a> - русскоязычный форум по Django;</li>
      <li><a href="https://stackoverflow.com/questions/tagged/django/">https://stackoverflow.com/questions/tagged/django/ - вопросы и ответы по Django</a>;</li>
      <li><a href="https://djbook.ru/rel3.0/py-modindex.html">https://djbook.ru/rel3.0/py-modindex.html/</a> - модули для django на русском.</li>
   </ul>

{% endblock %}