{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Выбор ОС в настройках Visual Code</h1>
    
    <p>В случаях когда при подключении через OpenVPN проходит пинг на std-001.ist.mospolytech.ru, но подключение не устанавливается.</p>

    <ol class="my-3">
      <li>Открыть настройки Visual Code</li>
      <img src="{{ url_for('static', filename='images/doc1/' ~ '1.png') }}">
      <li>Перейти во вкладку Расширения -> Remote SSH</li>
      <img src="{{ url_for('static', filename='images/doc1/' ~ '2.png') }}">
      <li>Убедиться что Ваше соединение настроено на значение linux</li>
      <img src="{{ url_for('static', filename='images/doc1/' ~ '3.png') }}">
    </ol>

{% endblock %}