{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3"><b>Проверка файла конфигурации подключения по SSH</b></h1>
    
    <ol class="my-3">
      <li>Перейти в папку, где находится файл, по умолчанию он располагается в: <b>C:\Users\Имя_пользователя\.ssh</b></li>
      <img src="{{ url_for('static', filename='images/doc2/' ~ '1.png') }}">

      <li>Открыть настройки файла “config”</li>
      <img src="{{ url_for('static', filename='images/doc2/' ~ '2.png') }}">

      <li>Убедиться что у всех пользователей стоят необходимые разрешения на работу с файлом</li>
      <img src="{{ url_for('static', filename='images/doc2/' ~ '3.png') }}">
      
      <li>В случае необходимости пересоздать файл или добавить необходимые пункты во вкладке “Разрешения”</li>
    </ol>

{% endblock %}