{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3"><b>Не работает ssh/telnet в Windows</b></h1>
    
    <p>Дело в том, что такая ошибка часто стала возникать, в особенности в версиях Windows старше XP. 
       Ошибкой эту ситуацию назвать можно лишь с натяжкой. Дело в том, что данные утилиты просто перестали устанавливать по умолчанию в ОС ради безопасности.</p>
    
    <p>Для решения данной проблемой существует 3 способа:<br>
        - Установить необходимые пакеты через командную строку<br>
        - Добавить через «Программы и компоненты»<br>
        - Использовать WSL</p>

    <ol class="my-3">
      <li>Установить необходимые пакеты через командную строку</li>
      <p><b>Windows 7</b></p>
      <p>Для этого шага, во-первых следует запустить командную строку с правами администраторами</p>
      <img src="{{ url_for('static', filename='images/doc5/' ~ '1.png') }}">
      <p>Далее вбиваем в командной строке следующую команду:<br>
        <b>dism /online /Enable-Feature /FeatureName:TelnetClient</b><br>
        и дожидаемся конца работы команды</p>
      <p><b>Windows 10</b></p>
      <p>В Windows 10 немного иначе, зато можно спокойнее работать с ssh. Откроем PowerShell через администратора и 
         введем следующую команду для проверки установленного клиента OpenSSH (State: Installed):<br>
         <b>Get-WindowsCapability -Online | ? Name -like 'OpenSSH.Client*'</b><br>
         Если он не установлен (State: Not Present), воспользуемся командой:<br>
         <b>Add-WindowsCapability -Online -Name OpenSSH.Client*</b></p>

      <li>Добавить через «Программы и компоненты»</li>
      <p><b>Windows 7</b></p>
      <p>Для этого способа всё куда проще. Переходим следующим путем: Пуск → Панель управления → Программы → Программы и компоненты. 
         После чего выбираем «Включение или отключение компонентов Windows»</p>
      <img src="{{ url_for('static', filename='images/doc5/' ~ '2.png') }}">
      <p>Для включения telnet стоит просто поставить галочку:</p>
      <img src="{{ url_for('static', filename='images/doc5/' ~ '3.png') }}">
      <p><b>Windows 10</b></p>
      <p>Идем через: Параметры → Приложения → Дополнительные возможности → Добавить компонент. Находим в списке «Клиент OpenSSH» и нажимаем кнопку «Установить»</p>

      <li>Использовать WSL</li>
      <p><b>Windows 10</b></p>
      <p>Если два предыдущих способа не сработали, то пригодиться следующий вариант. Для этого понадобиться WSL - это специальный компонент системы Windows, 
         который представляет собой программный интерфейс (слой) для запуска Linux приложений внутри Windows 10. Вот перечень некоторых из них:</p>
         - Ubuntu 16.04 LTS<br>
         - Ubuntu 18.04 LTS<br>
         - Ubuntu 20.04 LTS<br>
         - openSUSE Leap 15.1<br>
         - SUSE Linux Enterprise Server 15 SP1<br>
         - Kali Linux<br>
         - Debian GNU/Linux<br>
         - Fedora Remix for WSL<br>
         <br>Установите любой WSL (например, Ubuntu16.04, интерфейс которого приведён ниже) на компьютер и используйте команды ssh/telnet уже через него:</p>
      <img src="{{ url_for('static', filename='images/doc5/' ~ '4.png') }}">
    </ol>

{% endblock %}