{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3"><b>Подключение git’а к Qt Creator</b></h1>

    <p>
        <b>
            Создание хранилища в Qt Creator
        </b>
    </p>
    <p>При создании проекта требуется выбрать в качестве контроля версий: git.</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '1.png') }}">
    <p>Если у вас уже был создан проект без контроля версий, то выполните следующие шаги:</p>
    <ol class="my-3">
        <li>Инструменты -> Git -> Создать хранилище</li>
        <img src="{{ url_for('static', filename='images/doc7/' ~ '2.png') }}">
        <li>Вам будет предложена папка проекта по умолчанию. Выберите её.</li>
        <li>Появится подтверждение об успешном создании хранилища:</li>
        <img src="{{ url_for('static', filename='images/doc7/' ~ '3.png') }}">
    </ol>

    <p>
        <b>
            Создание репозитория на GitLab
        </b>
    </p>
    <p>Теперь создадим репозиторий на gitlab.com, например. Репозиторий может быть пустым или же содержать README.md - это не принципиально.</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '4.png') }}">
    <p>Если вы используете GitHub или BitBucket, то можете воспользоваться данной инструкцией: <a href="https://exlmoto.ru/git-and-qt-creator/">https://exlmoto.ru/git-and-qt-creator/</a></p>

    <p>
        <b>
            Установка Git и работа с Git Bash
        </b>
    </p>
    <p>Далее, если у вас не установлен Git, это следует сделать, после чего открываем «Git Bash»  и вводим такие команды:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '5.png') }}">

    <p>
        <b>
            Создание SSH-ключа
        </b>
    </p>
    <p>Один из важных этапов настройки является создание ssh-ключа. <br>Для этого вводим в «Git Bash» следующую команду:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '6.png') }}">
    <p>Если папка «.ssh» уже существует, сохраните резервную копию её содержимого следующей командой:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '7.png') }}">
    <p>Если такой папки нет, выполняем генерацию SSH-ключа командой:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '8.png') }}">
    <p>На все вопросы, возникающие при выполнении этой команды, необходимо просто нажимать «Enter». <br>После того, как мы сгенерировали наш уникальный SSH-ключ, скопируем его в буфер обмена командой:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '9.png') }}">
    <p>Ниже приведён ход выполнения данных команд. Стоит отметить, что если вам понадобятся файлы с ключами позже, вы сможете найти их по указанному командой пути.</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '10.png') }}">

    <p>
        <b>
            Добавление SSH-ключа в аккаунт удаленного репозитория
        </b>
    </p>
    <p>Следующим этапом будет - добавление ssh-ключа в наш аккаунт gitlab. Для этого в меню аккаунта выбираем «Edit profile», а далее в левом боковом меню «SSH Keys».</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '11.png') }}">
    <p>Теперь в соответствующее поле вставляем скопированный (при помощи команды clip < ~/.ssh/id_rsa.pub) ключ из буфера обмена:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '12.png') }}">
    <p>Нажимаем кнопку «Add key» для добавления ssh-ключа.</p>

    <p>
        <b>
            Настройка связи локального и удаленного репозиториев
        </b>
    </p>
    <p>Осталось лишь связать наш проект с удаленным репозиторием. Для этого требуется для начала создать локальный репозиторий. <br>Запускаем «Git Bash» и переходим в директорию с исходным кодом проекта:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '13.png') }}">
    <p>Заметьте, что в «Git Bash» диск C:// пишется как /c/, аналогичное будет происходить и с остальными дисками. <br>Далее стандартная процедура инициализации локального репозитория:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '14.png') }}">
    <p><b>Важно!</b> Для работы в Qt Creator требуется указать именно SSH-доступ в команде «git remote add origin», SSH-ссылку на ваш проект можно получить здесь:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '15.png') }}">
    <img src="{{ url_for('static', filename='images/doc7/' ~ '16.png') }}">
    <img src="{{ url_for('static', filename='images/doc7/' ~ '17.png') }}">
    <img src="{{ url_for('static', filename='images/doc7/' ~ '18.png') }}">
    <p>Таким образом, мы успешно отправили файлы в удаленный репозиторий:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '19.png') }}">

    <p>
        <b>
            Конечная настройка Qt Creator’а и работа с Git’ом в нём
        </b>
    </p>
    <p>Возвращаемся в Qt Creator.
        <br>Переходим по пути: 
        <br>Инструменты -> Параметры -> Контроль версий -> Git
        <br>Здесь должен быть прописан путь до исполняемого файла git.exe и проставлена галочка напротив среды HOME.
    </p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '20.png') }}">
    <p>После этого следует перезапустить Qt Creator.
        <br>Чтобы зафиксировать изменения в файлах вашего проекта требуется выбрать: 
        <br>Инструменты -> Git -> Локальное хранилище -> Фиксировать
    </p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '21.png') }}">
    <p>Выбираем нужные файлы, прописываем комментарий и нажимаем кнопку «Фиксировать»:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '22.png') }}">
    <p>По итогу получим уведомление об успешном фиксировании:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '23.png') }}">
    <p>Для отправки закоммиченных изменений на удаленный репозиторий выбираем:<br>Инструменты -> Git -> Внешнее хранилище -> Отправить</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '24.png') }}">
    <p>И вот очередное уведомление об успешной отправке:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '25.png') }}">
    <p>А вот и наш комментарий на gitlab:</p>
    <img src="{{ url_for('static', filename='images/doc7/' ~ '26.png') }}">
    <p>Теперь вы сможете комментировать и отправлять изменения своего проекта всего двумя кликами!</p>

{% endblock %}