{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Возможные проблемы и способы их решения при установлении соединения по SSH</h1>
    
    <p>
        <b>1. При первоначальной настройке подключения к хостингу через Visual Code, возможно выбрана неправильная ОС</b>
    </p>
    <p>*В случаях когда при подключении через OpenVPN проходит пинг на std-001.ist.mospolytech.ru, но подключение не устанавливается.</p>
    <ol class="my-3">
      <li>Открыть настройки Visual Code</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '1.png') }}">
      <li>Перейти во вкладку Расширения -> Remote SSH</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '2.png') }}">
      <li>Убедиться что Ваше соединение настроено на значение linux</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '3.png') }}">
    </ol>

    <p>
      <b>
        2. Файл конфигурации подключения поврежден или не имеет необходимых прав
      </b>
    </p>
    <ol class="my-3">
      <li>Перейти в папку, где находится файл, по умолчанию он располагается в: C:\Users\Имя_пользователя\.ssh</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '4.png') }}">
      <li>Открыть настройки файла “config”</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '5.png') }}">    
      <li>Убедиться что у всех пользователей стоят необходимые разрешения на работу с файлом</li>
      <img src="{{ url_for('static', filename='images/doc8/' ~ '6.png') }}">
      <li>В случае необходимости пересоздать файл или добавить необходимые пункты во вкладке “Разрешения”</li>
    </ol>

    <p>
      <b>
        3. Ошибки, связанные с несовпадением или неправильной генерацией SSH ключей
      </b>
    </p>
    <p>Ошибка вполне может быть скрыта в неудачной генерации SSH ключей, необходимых для установления соединения.</p>
    <p>Стоит отметить, что данный способ применим в тех случаях, когда вы получаете ошибку вида <b>COULD NOT ESTABLISH CONNECTION</b>. 
       Все известные системе подключения хранятся рядом с уже знакомым нам файлом CONFIG по пути C:\Users\Имя_пользователя\.ssh</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '7.png') }}">
    <p>Мы позволим системе заново сгенерировать все необходимые ключи, для этого 
       необходимо просто удалить или переместить файл KNOWN-HOSTS из данной папки (рекомендуем перемещать, а не удалять). </p>
    <p>Конечно, это значит, что придётся заново подтверждать генерацию ключей при установлении соединения, но ошибка может быть решена таким способом.</p>
    
    <p>
      <b>
        4. Настройка метрик соединения
      </b>
    </p>
    <p>В некоторых случаях требуется дополнительная настройка сетевых интерфейсов. Чтобы убедиться, что у вас известный нам случай, запустите «Командную строку» и выполните в ней команду:<br>route print</p>
    <p>Примеры вывода «route print»; красными кружками помечены метрики, на которые нужно обратить внимание.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '8.png') }}">
    <p>Чаще всего проблема заключается в том, что сетевой маршрут «по умолчанию» (сетевой адрес 0.0.0.0) остаётся более приоритетным, чем маршруты для VPN. 
       Приоритет в данном случае называется метрикой. Чем метрика «меньше» (ближе к нулю), тем выше приоритет. 
       Сравните метрики для сетевых адресов (маршрутов) 0.0.0.0 и 172.20.0.0. Если у 0.0.0.0 метрика ближе к нулю, чем у 172.20.0.0, или метрики для 0.0.0.0 и 172.20.0.0 равны, то у вас есть проблема, 
       требующая ручного вмешательства, и она решаемая. Вам нужно для TAP-Windows Adapter (который для VPN) в настройках сети в панели управления вручную задать метрику, например, 20.</p>
    <p>Есть несколько способов изменить метрики соединений. <b>Первый способ</b> предполагает изменение настроек соединения через GUI. Для этого переходим в панель управления, в меню Сеть и интернет/Сетевые подключения. Нас интересует интерфейс TAP-Windows-Adapter-V9.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '9.png') }}">
    <p>Переходим в панель Свойства данного адаптера.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '10.png') }}">
    <p>Далее находим меню IPv4 и переходим в подменю Свойства.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '11.png') }}">
    <p>Переходим в меню Дополнительно и видим поле для настройки метрики. Отключаем галочку и устанавливаем собственную метрику. Учтите, что иногда к метрике добавляется 20, так что советуем поставить значение 1-10, то есть так, чтобы сумма всё равно получилась меньше вашего основного соединения.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '12.png') }}">
    <p>Второй способ предполагает изменение метрик при помощи функционала командной строки PowerShell. Для этого заходим в PowerShell от имени администратора и прописываем команду route print. 
       Далее находим наше основное подключение и подключение с адресом 172.20.0.0. Как видно в примере, метрики у этого подключения значительно больше, чем у основного.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '13.png') }}">
    <p>Изменять метрики мы будем при помощи команды route change (change по той причине, что данное подключение у нас уже имеется)</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '14.png') }}">
    <p>Где 172.20.0.0 - сетевой адрес, 255.255.0.0 - маска, а 192.168.255.193 - адесс шлюза. При этом метрика задается при помощи пункта metric в команде.</p>
    <img src="{{ url_for('static', filename='images/doc8/' ~ '15.png') }}">
    <p>Как мы видим, теперь метрика соединения стала равняться 30, то есть стала приоритетней основного.</p>

{% endblock %}