{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Проблема с DNS при подключении к SSH</h1>
    
    <p>У студентов Московского Политехнического Университета, также встречалась проблема с DNS при подключении по SSH.
       <br>Прошу обратить внимание на то, что данная проблема была выявлена у студентов использующих ADGuard, а именно DNS-защиты.
       <br>Во-первых, стоит в ADGuard выключить DNS-защиту, как представлено на скриншоте ниже.
    </p>
    <img src="{{ url_for('static', filename='images/doc9/' ~ '1.png') }}">
    <p>Далее в самой операционной системе, в примере разберем Windows, требуется открыть Панель управления через меню пуск или через поиск Windows.
       <br>Перейдите в раздел Сеть и Интернет, а затем в Центр управления сетями и общим доступом.
       <br>В левой стороне экрана найдите Изменение параметров адаптера и кликните по нему.
       <br>Выделите ваше активное подключение, затем кликните по нему правой кнопкой мыши и выберите Свойства.
       <br>Найдите в списке IP версии 4 (TCP/IP), выделите его и затем снова Свойства.
       <br>Выберите Использовать следующие адреса DNS-серверов и введите данные приведенные в примере ниже:
    </p>
    <img src="{{ url_for('static', filename='images/doc9/' ~ '2.png') }}">

{% endblock %}