{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Помощь при работе с хостингом <a href="https://fit.mospolytech.ru/">fit.mospolytech.ru</a></li></h1>
    
    <p>
        <b>
            Ссылки на руководства:
        </b>
    </p>

    <ul class="my-3">
      <li><a href="{{ url_for('doc1') }}">Выбор ОС в настройках Visual Code</a> - в случаях когда при подключении через OpenVPN
                                          проходит пинг на std-001.ist.mospolytech.ru, но подключение не устанавливается.</li>
      <li><a href="{{ url_for('doc2') }}">Проверка файла конфигурации подключения по SSH</a> - если файл конфигурации подключения поврежден или не имеет необходимых прав.</li>
      <li><a href="{{ url_for('doc3') }}">Работа с Git</a> - основные команды для работы с платформой Git.</li>
      <li><a href="{{ url_for('doc4') }}">Удаление или изменение учетной записи Git на локальном компьютере.</a></li>
      <p>-----------------------------</p>
      <li><a href="{{ url_for('doc5') }}">Не работает ssh/telnet в Windows</a> - возможная проблема с программами установленными по умолчанию.</li>
      <li><a href="https://www.youtube.com/watch?v=-PfcDYG2-Io}">Видеоинструкция по размещению первого сайта.</a></li>
      <li><a href="http://manual.std-967.ist.mospolytech.ru/">Инструкция по размещению на хостинге проекта на python django.</a></li>
      <li><a href="{{ url_for('doc6') }}">Работа с commit'ами в Git.</a></li>
      <li><a href="{{ url_for('doc7') }}">Подключение Git’а к QtCreator.</a></li>
      <li><a href="{{ url_for('doc8') }}">Общие проблемы при установлении соединения с хостингом Политеха.</a></li>
      <li><a href="{{ url_for('doc9') }}">Проблема с DNS при подлючении по SSH</a> - данная проблема была выявлена у студентов использующих ADGuard, а именно DNS-защиты.</li>
    </ul>

{% endblock %}