{% extends 'base.html' %}

{% block content %}
    <h1 class="my-3">Помощь при работе с хостингом <a href="https://fit.mospolytech.ru/">fit.mospolytech.ru</a></li></h1>

    <p>
        <b>
            Цели и задачи:
        </b>
    </p>
    
    <ul class="my-3">
        <li>создание инструкций по работе с fit.mospolytech.ru;</li>
        <li>разбор и решение разнообразных ошибок, связанных с работой на хостинге.</li>
    </ul>
    
    <p>
        <b>
            Ссылки:
        </b>
    </p>

    <ul class="my-3">
      <li>Телеграм чат поддержки: <a href="https://t.me/fit_support">@fit_support</a></a></li>
      <li>Ссылка на сайт с руководствами: <a href="http://faq-pd-fit.std-1201.ist.mospolytech.ru">http://faq-pd-fit.std-1201.ist.mospolytech.ru</a></li>
      <li>Ссылка на Git репозиторий: <a href="https://github.com/user133727/PD-2021-FIT">https://github.com/user133727/PD-2021-2-FIT</a></li>
      <li>Ссылка на документацию: <a href="https://docs.google.com/spreadsheets/d/1qGtFExNsNWbVHbkJHCO89Xy4uJgU80iah5dN__LLEes/edit#gid=0">https://docs.google.com</a></li>
      <!-- <li>Ссылка на отчётность (видеопрезентация, отчёт): <a href=""></a></li> -->
    </ul>
    
    <p>
      <b>
          Участники:
      </b>
    </p>

    <div class="card-deck">
        <div class="card">
          <img src="static/images/Nik.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Ефремов Н. А. (1999)</h5>
            <p class="card-text">Группа 191-351.</p><p>Ответственный за документацию.</p>
          </div>
        </div>

        <div class="card">
          <img src="static/images/Edel.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Каваллини Э. Д.</h5>
            <p class="card-text">Группа 181-331.</p><p>Ответственная за документацию.</p>
          </div>
        </div>

        <div class="card">
          <img src="static/images/Nik2.jpg" width="30" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Балдуев Н. А.</h5>
            <p class="card-text">Группа 191-352.</p><p>Ответственный за документацию.</p>
          </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top: 20px;">
      <div class="card">
        <img src="static/images/Ivan.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Лунин И. А.</h5>
          <p class="card-text">Группа 191-352.</p><p>Ответственный за документацию.</p>
        </div>
      </div>

      <div class="card">
        <img src="static/images/Ildar.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Давлетбаев И. А.</h5>
          <p class="card-text">Группа 191-352.</p><p>Ответственный за документацию.</p>
        </div>
      </div>

      <div class="card">
        <img src="static/images/Valeriy.jpg" width="30" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Чивилев В. В.</h5>
          <p class="card-text">Группа 191-322.</p><p>Ответственный за документацию.</p>
        </div>
      </div>
  </div>

    <!-- <img src="static/images/" class="img-fluid mt-1" alt="Responsive image"> -->

{% endblock %}